.section-product-sneaker {
}

.section-wrapper {
}

@media screen and (min-width: 600px) {
  .section-product-sneaker {
  }
}

@media screen and (min-width: 1024px) {
  .section-product-sneaker {
    padding: 6rem 3rem 0;
  }

  .section-wrapper {
    display: flex;
    align-items: center;
  }
}
