.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.btn-cart img {
  height: 1.5rem;
  vertical-align: middle;
}

.btn-cart span {
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  letter-spacing: 0.14rem;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary-01);
  border-radius: var(--br-sm);
  box-shadow: 0 1rem 2rem rgba(255, 122, 0, 0.3);
  transition: opacity var(--transition-duration-250) var(--transition-timing-function-ease-in-out);
  padding: 1.5rem 0;
}

.btn-primary:hover {
  opacity: var(--opacity-70);
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .btn-cart {
    flex: 0.5;
  }

  .btn-primary {
    padding: 0rem 0;
  }
}

@media screen and (min-width: 1400px) {
  .btn-cart {
    flex: 0.5;
  }
}
