.product-main-image-container {
}

.product-button-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  padding: 1rem;
}

.btn-prev,
.btn-next {
  background-color: var(--color-neutral-04);
  border-radius: 50%;
  transition: all var(--transition-duration-500) var(--transition-timing-function-ease-in-out);
  padding: 1rem;
}

.btn-next img,
.btn-prev img {
  width: 1.2rem;
  height: 1.2rem;
}

.btn-prev:active,
.btn-next:active {
  transform: scale(0.9);
}

@media screen and (min-width: 376px) and (max-width: 426px) {
  .product-hero-img-box {
    height: 48rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 600px) {
  .product-hero-img-box {
    height: 45rem;
  }

  .product-hero-img-box img {
    /* object-fit: contain; */
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .product-hero-img-box {
    height: 40rem;
  }

  .product-hero-img-box img {
    /* object-fit: contain; */
    object-fit: fill;
  }
}

@media screen and (min-width: 1024px) {
  .product-hero-img-box {
    width: 90%;
    height: auto;
  }

  .product-hero-img-box img {
    border-radius: 1.2rem;
  }

  .product-button-actions {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .product-hero-img-box {
    width: 85%;
  }
}
